* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;}

body {font-family: Roboto;}


/* Cabeçalho da Página */
header {
	background-color: #343440;
	padding: 0.8em 0;
	margin-bottom: 1.8em;}

h1 {
	display: inline-block;
	background: url('../img/logo.png') no-repeat left;
	background-size: contain;
	padding-left: 50px;
	margin: 0 2%;
	font-size: 1.5em;}

a { text-decoration: none; }

header a { color: #FFF; }

.text-destaque {
	margin-right: 2%;
	font-size: 1.2em;
	float: right;
	font-weight: bolder;
	color: #A9A9A9;}

form {
	width: 95%;
	margin: 0 auto;
	text-align: left;}


/* Caixa de entrada */
main {
	text-align: center;}

.caixa-input {
	border: 1px solid #dedede;
	display: inline-block;
	border-radius: 8px;
	margin: 0 auto;
	width: 400px;}

.home, .chamado {
	width:80%;}

.head-login {
	text-align: left;
	background-color: rgba(0,0,0,.03);
	border-radius: 8px 8px 0 0;
	line-height: 30px;
	font-weight: 600;
	border-bottom: 1px solid #dedede;
	margin-bottom: 1.5em;
	font-size: 1.5em;}

.text-menu-home,
.caixa-text-logo,
.text-menu-chamado {display: block;}

.text-menu-home,
.text-menu-chamado {
	padding: 0.8em 0.8em;}

.caixa-text-logo {
	padding: 0.8em 5.5%;}

.input {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 8px;
	border: 1px solid #dedede;
	padding-left: 0.5em;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
	font-size: 1.1em;}

label {
	font-size: 1.3em;}

#descricao {
	padding-top: 0.5em;
	font-size: 1.1em;
	height: 100px;}

.place {
	color: rgba(0,0,0,0.6);}

.input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);}

 .menus {
 	display: flex;
 	justify-content: space-around;
 	margin-bottom: 2em;}

 .menu-iten {
 	width: 100px; }

.center {
	text-align: left;}

h3 {
	color: #A9A9A9;
	margin: 0.3em 0;}

.login {
	margin-left: 5.3%;
	margin-bottom: 0.3em;
	color: tomato;
	text-transform: uppercase;
	font-weight: bold;}

.modal {
	width: 40%;
	height: 300px;
	position: absolute;
	left: 30%;
	top: 30%; 	
	border: 1px solid red;
	background-color: #efefef;}

.fade {
	display: none;}

/* Butões das páginas */
.btn {
	text-transform: uppercase;
	border:0;
	padding: 0.8em;
	text-align: center;
	border-radius: 8px;
	color: #FFF;
	font-size: 1em;
	font-weight: bold;}

.btn-enviar {
	background-color: #17A2B8;
	width: 90%;
	margin: 0 5% 2em 5%;}

.btn-voltar-chamado {
	width:49%;
	background-color: tomato;}

.btn-entrar-chamado {
	width:49%;
	background-color: #17A2B8;}

.btn-chamados {
	margin-left: 5%;
	margin-bottom: 2em;}

.flex-buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em; }


.btn-modal {
	position: absolute;
	bottom: 1em;
	right: 1em;
	padding: 0.6em 3em;}


/* Página Consultar Chamados */
 .chamados {
 	display: flex;
 	flex-direction: column;
 	align-items: center;}

.iten-chamado {
	border-radius: 8px;
	border: 1px solid #dedede;
	background-color: rgba(0,0,0,0.03);
	text-align: left;
	width: 90%;
	margin-bottom: 1em;
	padding: 1em;}